body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3AAFA9 ;
}

h1 {
    color: #FEFFFF;
    font-size: 50px;
}

h2 {
    color: peachpuff;
}

img {
    width: 250px;
    margin-bottom: 10px;
}

.new-meme, .meme-preview {
    position: relative;
    margin-top: 35px;
}

.meme-text-top {
    position: absolute;
    top: 20px;
}

.meme-text-bottom {
    position: absolute;
    bottom: 50px;
}

.meme-text-top, .meme-text-bottom {
    width: 250px;
    text-align: center;
    font-weight: bold;
}

.btn-container {
    text-align: center;
}

ul {
    list-style: none;
    padding-left: 0;
}

form {
    text-align: center;
}

label {
    display: block;
    padding-bottom: 5px;
    color: pink;
    font-size: 25px;
}

input {
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#text-color {
    margin-top: 10px;
    padding: 0;
}

#font-size {
    padding: 0;
}

#submit {
    padding: 0;
}

input::placeholder {
    text-align: center;
}

.created-memes button, #submit {
    padding: 5px;
    background-color: papayawhip;
    color: rgb(229, 10, 229);
    font-weight: bold;
}

@media screen and (min-width: 750px) {
    body {
        display: block;
    }

    h1 {
        text-align: center;
    }

    form {
        text-align: left;
        margin-top: 40px;
        margin-left: 150px;
    }

    li:nth-of-type(2), li:nth-of-type(3) {
        display: block;
    }

    label {
        display: inline;
    }

    .preview {
        margin-left: 150px;
    }

    .created-memes {
        position: absolute;
        right: 150px;
        top: 70px;
        height: 100vh;
        overflow-y: scroll;
    }

}




