body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3AAFA9 ;
}

h1 {
    color: #FEFFFF;
    font-size: 50px;
}

img {
    width: 250px;
    margin-bottom: 10px;
}

.img-div {
    position: relative;
}
.new-meme {
    margin-top: 35px;
    text-align: center;
}

.meme-text-top {
    position: absolute;
    top: 20px;
}

.meme-text-bottom {
    position: absolute;
    bottom: 50px;
}

.meme-text-top, .meme-text-bottom {
    width: 250px;
    text-align: center;
    font-weight: bold;
}

ul {
    list-style: none;
    padding-left: 0;
}

form {
    text-align: center;
}

label {
    display: block;
    padding-bottom: 5px;
    color: pink;
    font-size: 25px;
}

input {
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#text-color {
    margin-top: 10px;
    padding: 0;
}

#font-size {
    padding: 0;
}

#submit {
    padding: 0;
}

input::placeholder {
    text-align: center;
}

.created-memes button, #submit {
    padding: 5px;
    background-color: papayawhip;
    color: rgb(229, 10, 229);
    font-weight: bold;
}

@media screen and (min-width: 600px) {
    /* body {
        display: block;
    } */

    h1 {
        text-align: center;
    }

    li:nth-of-type(2), li:nth-of-type(3) {
        display: block;
    }

    label {
        display: inline;
    }

    #submit {
        margin-top: 10px;
    }

    .created-memes {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        width: 95%;
        margin-left: 5%;

    }

}




